:root {
    --backgroundDefault: ghostwhite;
    --backgroundHeader: lightblue;
    --backgroundNav: lightblue;
    --backgroundColor: lightblue;
    --borderColor: black;
}

* {
    font-family: "Dancing Script", cursive;
    color: rgb(36, 34, 34);
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: default;
}

body {
    background-color: var(--backgroundDefault);
}

button,
input {
    font-size: 1rem;
}

main {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--backgroundDefault);
}

.pointer {
    cursor: pointer;
}

input,
input:focus,
button {
    display: block;
    outline: none;
}

input {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0.8rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5em 0;
}

button {
    border: 1px solid black;
    border-radius: 0.8em;
    padding: 0.3em 1em;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5em 0;
}
button:active {
    background-color: lightgrey;
}

.logo {
    height: 5em;
}

.link {
    font-size: 1.2rem;
    font-family: "Edu VIC WA NT Beginner", cursive;
    text-decoration: underline;
}

.chooseFile {
    border: none;
    width: 70%;
}

.flex,
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/**************************************/
/************** WELCOME ***************/
/**************************************/

#welcomeHeadline {
    font-size: 3em;
}

#welcome .container {
    width: 30vw;
    min-width: 400px;
    padding: 2em;
    margin: 2em;
    background-color: var(--backgroundColor);
    border-radius: 1em;
}


/**********************************/
/************** APP ***************/
/**********************************/

#app {
    min-width: 400px;
    padding: 0;
    margin: 0;
    background-color: var(--backgroundDefault);
}

/************** HEADER ***************/

#app header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    background-color: var(--backgroundHeader);
}

#app header * {
    margin-top: auto;
    margin-bottom: auto;
}

#app .logo {
    height: 5rem;
}

#app .profilePic {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 1rem;
    margin: 1rem;
}

/************** NAV ***************/

#app nav {
    width: 100vw;
    background-color: var(--backgroundNav);
    border: 1px solid var(--borderColor);
}
#app nav * {
    padding: 0.5rem 1rem;
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
}

/************** PROFILE ***************/

#profile,
#uploader {
    width: 100vw;
    background-color: var(--backgroundColor);
    position: relative;
}

#profile *,
#uploader * {
    margin: 1rem;
}

#profile img {
    height: 20rem;
    border-radius: 1rem;
}

.logout {
    position: absolute;
    top: 0;
    right: 0;
}

/************** BIO ***************/

#bioText {
    font-size: 1.5em;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
}

#bioText * {
    margin: 0.5em 0;
}

#bioText label,
p,
textarea {
    font-family: "Edu VIC WA NT Beginner", cursive;
}

#bioText label {
    font-weight: bold;
    text-decoration: underline;
}

#bioText textarea {
    text-align: left;
    padding: 5px;
    font-size: 1em;
}
