:root {
    --backgroundDefault: ghostwhite;
    --backgroundColor: lightblue;
}

* {
    font-family: "EB Garamond", serif;
    color: black;
    border-radius: 1em;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundDefault);
}

.pointer {
    cursor: pointer;
}

input,
input:focus,
button {
    display: block;
    margin: 1em;
    outline: none;
}

input {
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 0.5em;
}

button {
    border: 1px solid black;
    border-radius: 0.8em;
    padding: 0.3em 1em;
    cursor: pointer;
}
button:active {
    background-color: lightgrey;
}

/************** WELCOME ***************/

#register,
#login,
#resetPassword {
    width: 30vw;
    min-width: 400px;
    padding: 2em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor);
    border-radius: 1em;
}

.form {
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor);
}

.logo {
    height: 5em;
}

/************** APP ***************/
#app {
    width: 30vw;
    min-width: 400px;
    padding: 2em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor);
    border-radius: 1em;
}

#app img {
    height: 15em;
}

#app a {
    display: block;
}

#app .profilePic {
    height: 10em;
    width: 10em;
}

#app .chooseFile {
    border-radius: 0;
    border: none;
}
