:root {
    --textColor: black;
    --backgroundDefault: #edf2fb;
    --backgroundHeader: #abc4ff;
    --backgroundNav: #c1d3fe;
    --backgroundColor: #d7e3fc;
    --backgroundFooter: var(--backgroundHeader);
    --borderColor: var(--textColor);
    --boxShadow: rgba(0, 0, 0, 0.4);
    --fontDefault: "Dancing Script", cursive;
    --fontSansserif: "Raleway", sans-serif;
}

* {
    font-family: var(--fontDefault);
    color: var(--textColor);
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: default;
}

body {
    background-color: var(--backgroundDefault);
    min-height: 100vh;
}

button,
input {
    font-size: 1rem;
}

main {
    background-color: var(--backgroundDefault);
    width: 100vw;
    min-height: 100vh;
}

.logo {
    height: 5em;
}

input,
input:focus,
button {
    display: block;
    outline: none;
}

input {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0.8rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5em 0;
}

button {
    border: 1px solid black;
    border-radius: 0.8em;
    padding: 0.3em 1em;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5em 0;
    font-family: var(--fontSansserif);
    transition-property: all;
    transition-duration: 0.3s;
}
button:hover {
    background-color: var(--backgroundHeader);
    color: var(--backgroundDefault);
}

.link {
    font-size: 1rem;
    font-family: var(--fontSansserif);
    transition-property: all;
    transition-duration: 0.3s;
}

.link:hover {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.chooseFile {
    border: none;
    width: 80%;
}

.flex,
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/**************************************/
/************** WELCOME ***************/
/**************************************/

#welcomeHeadline {
    font-size: 4em;
}

#welcome .container {
    width: 30vw;
    min-width: 400px;
    padding: 2rem;
    margin: 2rem;
    background-color: var(--backgroundNav);
    box-shadow: 3px 3px 15px 2px var(--boxShadow);
    border-radius: 1rem;
}

#welcome .link {
    margin: 0.5rem 0;
}

/**********************************/
/************** APP ***************/
/**********************************/

#app {
    padding: 0;
    margin: 0;
    background-color: var(--backgroundDefault);
}

/************** HEADER ***************/

#app header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    background-color: var(--backgroundHeader);
}

#app header * {
    margin-top: auto;
    margin-bottom: auto;
}

#app .logo {
    height: 5rem;
}

#app .profilePic {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 1rem;
    margin: 1rem;
}

#time {
    font-size: 1rem;
    width: 5rem;
}

#app .innerContainer {
    width: 80vw;
    min-height: 40vh;
    border-radius: 1rem;
    background-color: var(--backgroundColor);
    box-shadow: 3px 3px 15px 2px var(--boxShadow);
    margin: 1rem;
    position: relative;
}

/************** NAV ***************/

#app nav {
    width: 100vw;
    background-color: var(--backgroundNav);
    display: flex;
    justify-content: center;
}
#app nav * {
    width: 100%;
    padding: 0.5rem 1rem;
}

/************** PROFILE ***************/

#profile * {
    margin: 1rem;
}

#profile img {
    margin-top: 0;
    height: 20rem;
    border-radius: 1rem;
}

.logout {
    position: absolute;
    top: 0;
    right: 0;
}

/************** UPLAODER ***************/

#app .container {
    width: 100vw;
    height: auto;
    min-height: 68vh;
    margin: 1rem 0;
    position: relative;
}
#uploader * {
    margin: 1rem;
    font-family: var(--fontSansserif);
}

#uploader {
    width: auto;
    height: auto;
    font-family: var(--fontSansserif);
    border-radius: 1rem;
    background-color: var(--backgroundColor);
    box-shadow: 3px 3px 15px 2px var(--boxShadow);
}

/************** BIO ***************/

#bioText {
    font-size: 1rem;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
}

#bioText * {
    margin: 0.5rem 0.5rem;
}

#bioText,
#bioText p,
#bioText textarea {
    font-family: var(--fontSansserif);
}

#bioText label {
    font-family: var(--fontDefault);
    font-size: 1.5rem;
    text-decoration: underline;
}

#bioText textarea {
    text-align: left;
    padding: 5px;
    font-size: 1em;
}

/************** FIND USERS ***************/

#findUsers h1,
#findUsers li {
    margin: 1rem;
}

#findUsers li {
    list-style-type: none;
}

#findUsers * {
    font-family: var(--fontSansserif);
}

#findUsers li img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 1rem;
}

/************** FRIENDS ***************/

#friendsAndWannabes * {
    font-family: var(--fontSansserif);
}

#friendsAndWannabes h1 {
    margin: 1rem;
}

#friendsAndWannabes img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 1rem;
}

/************** FOOTER ***************/

#app footer {
    width: 100vw;
    height: 2rem;
    background-color: var(--backgroundFooter);
}

#app footer * {
    padding-left: 1rem;
}
